<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png+xml" href="/theme/<%= harborTheme %>/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= applicationTitle %></title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="/theme/<%= harborTheme %>/tokens.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet" />
    <link rel="stylesheet" href="./src/styles/index.css" />
    <script type="module" src="/src/hb-app.ts"></script>
    <!-- <script src="https://app.embed.im/snow.js" defer></script> -->
  </head>
  <body class="material-theme">
    <hb-app>
      <img src="/theme/harbor/harbor-moon.png" width="64">
    </hb-app>
  </body>
</html>
