


.material-theme {
	/* typescale */
	--md-sys-typescale-display-large-font: Roboto Regular;
	--md-sys-typescale-display-large-line-height: 64px;
	--md-sys-typescale-display-large-size: 57px;
	--md-sys-typescale-display-large-tracking: 0px;
	--md-sys-typescale-display-large-weight: 400;
	--md-sys-typescale-display-medium-font: Roboto Regular;
	--md-sys-typescale-display-medium-line-height: 52px;
	--md-sys-typescale-display-medium-size: 45px;
	--md-sys-typescale-display-medium-tracking: 0px;
	--md-sys-typescale-display-medium-weight: 400;
	--md-sys-typescale-display-small-font: Roboto Regular;
	--md-sys-typescale-display-small-line-height: 44px;
	--md-sys-typescale-display-small-size: 36px;
	--md-sys-typescale-display-small-tracking: 0px;
	--md-sys-typescale-display-small-weight: 400;
	--md-sys-typescale-headline-large-font: Roboto Regular;
	--md-sys-typescale-headline-large-line-height: 40px;
	--md-sys-typescale-headline-large-size: 32px;
	--md-sys-typescale-headline-large-tracking: 0px;
	--md-sys-typescale-headline-large-weight: 400;
	--md-sys-typescale-headline-medium-font: Roboto Regular;
	--md-sys-typescale-headline-medium-line-height: 36px;
	--md-sys-typescale-headline-medium-size: 28px;
	--md-sys-typescale-headline-medium-tracking: 0px;
	--md-sys-typescale-headline-medium-weight: 400;
	--md-sys-typescale-headline-small-font: Roboto Regular;
	--md-sys-typescale-headline-small-line-height: 32px;
	--md-sys-typescale-headline-small-size: 24px;
	--md-sys-typescale-headline-small-tracking: 0px;
	--md-sys-typescale-headline-small-weight: 400;
	--md-sys-typescale-title-large-font: Roboto Regular;
	--md-sys-typescale-title-large-line-height: 28px;
	--md-sys-typescale-title-large-size: 22px;
	--md-sys-typescale-title-large-tracking: 0px;
	--md-sys-typescale-title-large-weight: 400px;
	--md-sys-typescale-title-medium-font: Roboto Medium;
	--md-sys-typescale-title-medium-line-height: 24px;
	--md-sys-typescale-title-medium-size: 16px;
	--md-sys-typescale-title-medium-tracking: 0.15px;
	--md-sys-typescale-title-medium-weight: 500;
	--md-sys-typescale-title-small-font: Roboto Medium;
	--md-sys-typescale-title-small-line-height: 20px;
	--md-sys-typescale-title-small-size: 14px;
	--md-sys-typescale-title-small-tracking: 0.1px;
	--md-sys-typescale-title-small-weight: 500;
	--md-sys-typescale-label-large-font: Roboto Medium;
	--md-sys-typescale-label-large-line-height: 20px;
	--md-sys-typescale-label-large-size: 14px;
	--md-sys-typescale-label-large-tracking: 0.1px;
	--md-sys-typescale-label-large-weight: 500;
	--md-sys-typescale-label-medium-font: Roboto Medium;
	--md-sys-typescale-label-medium-line-height: 16px;
	--md-sys-typescale-label-medium-size: 12px;
	--md-sys-typescale-label-medium-tracking: 0.5px;
	--md-sys-typescale-label-medium-weight: 500;
	--md-sys-typescale-label-small-font: Roboto Medium;
	--md-sys-typescale-label-small-line-height: 16px;
	--md-sys-typescale-label-small-size: 11px;
	--md-sys-typescale-label-small-tracking: 0.5px;
	--md-sys-typescale-label-small-weight: 500;
	--md-sys-typescale-body-large-font: Roboto Medium;
	--md-sys-typescale-body-large-line-height: 24px;
	--md-sys-typescale-body-large-size: 16px;
	--md-sys-typescale-body-large-tracking: 0.5px;
	--md-sys-typescale-body-large-weight: 400;
	--md-sys-typescale-body-medium-font: Roboto Regular;
	--md-sys-typescale-body-medium-line-height: 20px;
	--md-sys-typescale-body-medium-size: 14px;
	--md-sys-typescale-body-medium-tracking: 0.25px;
	--md-sys-typescale-body-medium-weight: 400;
	--md-sys-typescale-body-small-font: Roboto Regular;
	--md-sys-typescale-body-small-line-height: 16px;
	--md-sys-typescale-body-small-size: 12px;
	--md-sys-typescale-body-small-tracking: 0.4px;
	--md-sys-typescale-body-small-weight: 400;

	/* color */
	--md-sys-color-primary-light: #2756c9;
	--md-sys-color-on-primary-light: #ffffff;
	--md-sys-color-primary-container-light: #dbe1ff;
	--md-sys-color-on-primary-container-light: #00174c;
	--md-sys-color-secondary-light: #3f5aa9;
	--md-sys-color-on-secondary-light: #ffffff;
	--md-sys-color-secondary-container-light: #dbe1ff;
	--md-sys-color-on-secondary-container-light: #00174c;
	--md-sys-color-tertiary-light: #894487;
	--md-sys-color-on-tertiary-light: #ffffff;
	--md-sys-color-tertiary-container-light: #ffd6f7;
	--md-sys-color-on-tertiary-container-light: #37003a;
	--md-sys-color-error-light: #ba1a1a;
	--md-sys-color-on-error-light: #ffffff;
	--md-sys-color-error-container-light: #ffdad6;
	--md-sys-color-on-error-container-light: #410002;
	--md-sys-color-outline-light: #757680;
	--md-sys-color-background-light: #fefbff;
	--md-sys-color-on-background-light: #001945;
	--md-sys-color-surface-light: #fefbff;
	--md-sys-color-on-surface-light: #001945;
	--md-sys-color-surface-variant-light: #e2e1ec;
	--md-sys-color-on-surface-variant-light: #45464f;
	--md-sys-color-inverse-surface-light: #002c6f;
	--md-sys-color-inverse-on-surface-light: #eef0ff;
	--md-sys-color-primary-dark: #b4c5ff;
	--md-sys-color-on-primary-dark: #002979;
	--md-sys-color-primary-container-dark: #003daa;
	--md-sys-color-on-primary-container-dark: #dbe1ff;
	--md-sys-color-secondary-dark: #b4c5ff;
	--md-sys-color-on-secondary-dark: #012a78;
	--md-sys-color-secondary-container-dark: #244290;
	--md-sys-color-on-secondary-container-dark: #dbe1ff;
	--md-sys-color-tertiary-dark: #fdabf5;
	--md-sys-color-on-tertiary-dark: #541355;
	--md-sys-color-tertiary-container-dark: #6e2c6d;
	--md-sys-color-on-tertiary-container-dark: #ffd6f7;
	--md-sys-color-error-dark: #ffb4ab;
	--md-sys-color-on-error-dark: #690005;
	--md-sys-color-error-container-dark: #93000a;
	--md-sys-color-on-error-container-dark: #ffdad6;
	--md-sys-color-outline-dark: #8f909a;
	--md-sys-color-background-dark: #001945;
	--md-sys-color-on-background-dark: #d9e2ff;
	--md-sys-color-surface-dark: #001945;
	--md-sys-color-on-surface-dark: #d9e2ff;
	--md-sys-color-surface-variant-dark: #45464f;
	--md-sys-color-on-surface-variant-dark: #c6c6d0;
	--md-sys-color-inverse-surface-dark: #d9e2ff;
	--md-sys-color-inverse-on-surface-dark: #001945;
}
@media (prefers-color-scheme: light) {
  .material-theme {
	--md-sys-color-primary: var(--md-sys-color-primary-light);
	--md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
	--md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
	--md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light);
	--md-sys-color-secondary: var(--md-sys-color-secondary-light);
	--md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
	--md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
	--md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
	--md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
	--md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
	--md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light);
	--md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
	--md-sys-color-error: var(--md-sys-color-error-light);
	--md-sys-color-on-error: var(--md-sys-color-on-error-light);
	--md-sys-color-error-container: var(--md-sys-color-error-container-light);
	--md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light);
	--md-sys-color-outline: var(--md-sys-color-outline-light);
	--md-sys-color-background: var(--md-sys-color-background-light);
	--md-sys-color-on-background: var(--md-sys-color-on-background-light);
	--md-sys-color-surface: var(--md-sys-color-surface-light);
	--md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
	--md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
	--md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
	--md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
	--md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
  }
  .dark-theme {
	--md-sys-color-primary: var(--md-sys-color-primary-dark);
	--md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
	--md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
	--md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark);
	--md-sys-color-secondary: var(--md-sys-color-secondary-dark);
	--md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
	--md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
	--md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
	--md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
	--md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
	--md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark);
	--md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
	--md-sys-color-error: var(--md-sys-color-error-dark);
	--md-sys-color-on-error: var(--md-sys-color-on-error-dark);
	--md-sys-color-error-container: var(--md-sys-color-error-container-dark);
	--md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark);
	--md-sys-color-outline: var(--md-sys-color-outline-dark);
	--md-sys-color-background: var(--md-sys-color-background-dark);
	--md-sys-color-on-background: var(--md-sys-color-on-background-dark);
	--md-sys-color-surface: var(--md-sys-color-surface-dark);
	--md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
	--md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
	--md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
	--md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
	--md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark);
  }
}
@media (prefers-color-scheme: dark) {
  .material-theme {
	--md-sys-color-primary: var(--md-sys-color-primary-dark);
	--md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
	--md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
	--md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark);
	--md-sys-color-secondary: var(--md-sys-color-secondary-dark);
	--md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
	--md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
	--md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
	--md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
	--md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
	--md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark);
	--md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
	--md-sys-color-error: var(--md-sys-color-error-dark);
	--md-sys-color-on-error: var(--md-sys-color-on-error-dark);
	--md-sys-color-error-container: var(--md-sys-color-error-container-dark);
	--md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark);
	--md-sys-color-outline: var(--md-sys-color-outline-dark);
	--md-sys-color-background: var(--md-sys-color-background-dark);
	--md-sys-color-on-background: var(--md-sys-color-on-background-dark);
	--md-sys-color-surface: var(--md-sys-color-surface-dark);
	--md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
	--md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
	--md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
	--md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
	--md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark);
  }
  .light-theme {
	--md-sys-color-primary: var(--md-sys-color-primary-light);
	--md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
	--md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
	--md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light);
	--md-sys-color-secondary: var(--md-sys-color-secondary-light);
	--md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
	--md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
	--md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
	--md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
	--md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
	--md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light);
	--md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
	--md-sys-color-error: var(--md-sys-color-error-light);
	--md-sys-color-on-error: var(--md-sys-color-on-error-light);
	--md-sys-color-error-container: var(--md-sys-color-error-container-light);
	--md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light);
	--md-sys-color-outline: var(--md-sys-color-outline-light);
	--md-sys-color-background: var(--md-sys-color-background-light);
	--md-sys-color-on-background: var(--md-sys-color-on-background-light);
	--md-sys-color-surface: var(--md-sys-color-surface-light);
	--md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
	--md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
	--md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
	--md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
	--md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
  }
}